
<div class="header">
    <div class="title">
        <h1>{{title}}</h1>
    </div>
    <div class="nav-wrapper">
        <ul>
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>       
    
    </div>
    <div class="underline">
        
    </div>
  
</div>



